In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "Resources/purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file_to_load)

In [4]:
total_players = len(purchase_data["SN"].value_counts())

In [5]:
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [6]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

In [7]:
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

In [8]:
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [9]:
gender_stats = purchase_data.groupby("Gender")

In [10]:
total_count_gender = gender_stats.nunique()["SN"]

In [11]:
percentage_of_players = total_count_gender / total_players * 100

In [12]:
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

In [13]:
gender_demographics.index.name = None

In [14]:
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [15]:
purchase_count = gender_stats["Purchase ID"].count()

In [16]:
avg_purchase_price = gender_stats["Price"].mean()

In [17]:
avg_purchase_total = gender_stats["Price"].sum()

In [18]:
avg_purchase_per_person = avg_purchase_total/total_count_gender

In [19]:
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

In [20]:
gender_demographics.index.name = "Gender"

In [21]:
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [22]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [24]:
age_grouped = purchase_data.groupby("Age Group")

In [25]:
total_count_age = age_grouped["SN"].nunique()

In [26]:
percentage_by_age = (total_count_age/total_players) * 100

In [27]:
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

In [28]:
age_demographics.index.name = None

In [29]:
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [30]:
purchase_count_age = age_grouped["Purchase ID"].count()

In [31]:
avg_purchase_price_age = age_grouped["Price"].mean()

In [32]:
total_purchase_value = age_grouped["Price"].sum()

In [33]:
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [34]:
ge_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

In [35]:
gender_demographics.index.name = "Gender"

In [36]:
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [37]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [38]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [39]:
age_grouped = purchase_data.groupby("Age Group")

In [40]:
total_count_age = age_grouped["SN"].nunique()

In [41]:
percentage_by_age = (total_count_age/total_players) * 100

In [42]:
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

In [43]:
age_demographics.index.name = None

In [44]:
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [45]:
purchase_count_age = age_grouped["Purchase ID"].count()

In [46]:
avg_purchase_price_age = age_grouped["Price"].mean()

In [47]:
total_purchase_value = age_grouped["Price"].sum()

In [48]:
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [49]:
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

In [50]:
age_demographics.index.name = None

In [51]:
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [52]:
spender_stats = purchase_data.groupby("SN")

In [53]:
purchase_count_spender = spender_stats["Purchase ID"].count()

In [54]:
avg_purchase_price_spender = spender_stats["Price"].mean()

In [55]:
purchase_total_spender = spender_stats["Price"].sum()

In [56]:
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

In [57]:
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

In [58]:
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [59]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

In [60]:
item_stats = items.groupby(["Item ID","Item Name"])

In [61]:
purchase_count_item = item_stats["Price"].count()

In [62]:
purchase_value = (item_stats["Price"].sum())

In [63]:
item_price = purchase_value/purchase_count_item

In [64]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

In [65]:
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

In [66]:
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [67]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

In [68]:
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})